


#ll{
    margin-bottom: 3rem;
}
#icons i{
margin-right:1rem;
font-size: 21px;

}
.line{
    list-style-type: none;
    text-align: start;
}


#inputfield{
    display: flex;
    flex-direction: column;
   
}
#herosignup{
    margin: 3rem 0rem 0rem 0rem;
}
#inputfield input{
    padding: 8px;
    margin-bottom: 19px;
border-radius: 8px;
text-align: center;
width: 80%;
}
#navoptions #options {
    margin-right: 24px;
}
nav{
    padding:3rem !important;
}


.footer-text{
    display: flex;
    justify-content: space-evenly;
   padding: 0rem 7rem 0rem 7rem;
}
.filed a{
    margin-right: 1rem;
}
#outer{
    background-color: #387ed1;
    color: white;
}

#outer a{
   
    color: white;
}

.loginOuter{
    display: flex;
    justify-content: center;
}


.innerLogin{

padding: 2rem;
width: 100% ;

}
.innerLogin form{
    display: flex;
    flex-direction: column;
    
}
.innerLogin input{
    padding: 6px;
    border: 1px solid rgb(137, 140, 142);
    border-radius: 4px;
}

#btn{
    width: 40%;
    margin-top: 1.5rem;
}

.loginDiv label {
    margin: 1rem 0rem 13px 0rem

}
.loginDiv{
  
    border: 1px solid black;
    width: 30%;
max-height: 50vh;
overflow-y: auto;
 
}


body,html{
    overflow: auto !important;
}
.tadejump{
    display: flex;
    padding: 1rem;
    width: 80%;
}

#award-img{
    width: 100%;
    max-width: 500px;
    height: auto;
}
#varsity-img{
    width: 100%;
}


.navfirst{
    display: flex;
   margin: auto;
   padding: 2rem;
}

@media (max-width:1000px){

#founder-heading{
    font-size: 1.2rem;
}
    #founderdef{
        padding: 2rem !important;
    }

#founder-div{
   display: flex;
   justify-content: center;
   padding: 1rem !important;
}


#imgfounder{
    margin: 0rem !important;
    padding: 0rem !important;
}


#aboutstart{
    padding: 9px;
    margin: 0rem !important;
}


.navfirst{
   
   padding: 4px;
   margin-top: 10px;
   
}


    .dropdown-item{
        padding: 0rem !important;
      
    }


#signuprow{
    padding: 0rem !important;
}
#imgnav{
    flex: 1;

}
#anc{
    flex: 1;
}

#edubox{
    padding: 1rem !important;
}
#varsity-img{
    margin-bottom: 1rem;
}

    #herosignup > h1 {
        font-size: 1.3rem;
    }
      #herosignup > h4 {
        font-size: 14px;
        padding: 1rem;
    }

    #footerfirstchange{
       display: flex;
       flex-direction: column;

       font-size: 12px;
    }
    #footerfirstchange #bold{
     font-weight: bold;
    }

#navloc{
    display: flex !important;
    align-items: center !important;
    padding: 2rem !important;

}
#directionchange{
    margin-top: 0rem !important;
}
#footerchange{
    display: flex;
    flex-wrap: wrap !important;
}
#charge-div{
    padding: 0rem !important;
}
#charge-div1{
    padding: 9px !important;
}
#login-div{
    
    padding: 0rem !important;
}
#support-div{
    padding: 1rem !important;
}

.loginDiv{
    width: 100% !important;
    padding: 0rem !important;
}

#directionchange2{
    display: flex !important;
    flex-direction: column-reverse !important;
 margin-top: 0rem !important;
 padding: 0 !important;
}
#price-div{
    padding: 1rem !important;
}

#award-div{
    padding: 1rem !important;
}


#rightimg{
    padding: 2rem;
}
#firstleft{
    margin: 0rem !important;
}

#hero{
  margin: 1.5rem 0rem 0rem 0rem !important;
}

#stabalize{
   padding: 1rem !important;
}

#stabalize1{
   padding: 1rem !important;
   width: 100% !important;
}

.tadejump{
   margin: auto;
display: flex;
justify-content: center;
align-items: center;
padding: 1rem;
  
}

.tadejump #optionss{
    margin: 1rem 1rem 1rem 1rem;
}
.tadejump .navfirst{
   display: flex;
   justify-content: center;
  
  
}




#navoptions{
    display: none;
}
.navoptions{
    display: flex;
}
}

.disapper{
    display: flex;
}

@media (min-width:1001px){
#optionss{
    display: none;
}
}

